* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
$font: "Roboto";
$font2: "Digital";
@font-face {
    font-family: "Digital";
    src: url("../fonts/digital.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


audio {
	position: absolute;
	top: -1000px;
}

$normal: #ddd;
$primary: #f90;
$text: #333;
$bg: #fff;
$light: #fff;
$dark: #eee;

body, html {
	width: 100%; height: 100%;
	font-family: "Roboto";
	overflow: hidden;
	background: $bg;
	color: $text;
	cursor: default;
}


$gutter: 10px;
.container {
	padding-left: $gutter;
	padding-right: $gutter;
}
.row {
	display: block;
	margin-left: -$gutter;
	margin-right: -$gutter;
	font-size: 0;
}
*[class*="col-"] {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding-left: $gutter;
	padding-right: $gutter;
}
@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}
.offset-bottom {
	padding-bottom: $gutter;
}
.offset-top {
	padding-top: $gutter;
}
.offset-left {
	padding-left: $gutter;
}
.offset-right {
	padding-right: $gutter;
}
.padless-left {
	padding-left: 0;
}
.padless-right {
	padding-right: 0;
}


/* controls */
.player-controls {
	display: block;
	border-bottom: 1px solid $light;
	box-shadow: 0 1px 0 0 $dark;
	padding: $gutter 0;

	ul {
		display: table;
		table-layout: fixed;
		width: calc(100% + #{$gutter * 2});
		text-align: center;
		margin-left: -$gutter;
		padding: 0 $gutter/2;

		> li {
			display: table-cell;
			vertical-align: top;
			padding: 0 $gutter/2;

			&.small {
				width: 30px;

				button {
					height: 20px;
					line-height: 22px;
					font-size: 10px;
				}
			}
		}
	}
	button {
		display: inline-block;
		width: 100%; height: 36px;
		background: $normal;
		color: $text;
		font-size: 24px;
		line-height: 40px;
		border-radius: 50%;
		text-align: center;
		border: none;
		cursor: pointer;
		transition: .2s;

		&:hover {
			background: $primary;
		}
	}
}

input[type="range"] {
	-webkit-appearance: none;
	height: 8px;
	margin: 5px 0;
	border-radius: $gutter;
	width: 100%;
	display: block;
	background: $dark;

	&:focus {
	  outline: none;
	}
	&::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 8px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: none;
	  background: $dark;
	  border-radius: $gutter;
	  border: 0.2px solid transparent;
	}
	&::-webkit-slider-thumb {
	  box-shadow: none;
	  border: 1px solid transparent;
	  height: 16px;
	  width: 16px;
	  border-radius: 50%;
	  background: $primary;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -6px;
	}
	&:focus::-webkit-slider-runnable-track {
	  background: $dark;
	}
}

input[type="range"].vertical {
	width: 100px;
	position: absolute;
	z-index: 2;
	left: 50%; top: 50%;
	margin-left: -50px;
	margin-top: -4px;
	transform: rotate(270deg);
}
input[type="range"]#gain {
	transform: rotate(90deg);
}


.track-info {
	.image {
		position: relative;
		padding-top: 100%;
		background: $dark;
		border-radius: 50%;
		transform: translateZ(0);
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			background: url(../img/tux.png) no-repeat center;
			background-size: 50%;
			position: absolute;
			top: 0; left: 0;
			/*opacity: .1;*/
			width: 100%; height: 100%;
			z-index: 1;
		}
		img {
			position: absolute;
			z-index: 2;
			top: 50%; left: 50%;
			width: 100%; height: auto;
			transform: translate(-50%, -50%);
		}
	}
	.author,
	.title {
		font-size: 19px;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 300;
		text-overflow: ellipsis;
		color: $text;
		line-height: 24px;
		/*padding-right: 70px;*/
	}
	.title {
		margin-top: 5px;
		font-weight: 400;
	}
	.author {
		line-height: 20px;
		font-weight: 400;
		font-size: 15px;
		margin-top: #{-$gutter / 2};
		margin-bottom: #{$gutter / 2};
		color: transparentize($text, .5);
	}
	.time,
	.duration {
		font-family: "Digital";
		font-size: 18px;
		line-height: 22px;
		/*position: absolute;*/
		display: inline-block;
		vertical-align: baseline;
		z-index: 2;
	}
	.time {
		right: $gutter; top: 15px;
	}
	.duration {
		font-size: 18px;
		right: $gutter; top: 37px;
	}
}
.relative {
	position: relative;
}
.label {
	display: block;
	font-size: 12px;
	line-height: 20px;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.menu {
	position: relative;
	display: inline-block;
	width: 40px; height: 40px;

	button {
		width: 40px; height: 40px;
		line-height: 44px;
		text-align: center;
	}
	input[type="file"]{
		position: absolute;
		top: -1000%;
	}
	ul {
		position: absolute;
		top: 100%; right: 0;
		width: 180px;
		z-index: 2;
		margin-top: $gutter;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background: #fff;
		display: block;
		display: none;
		padding: $gutter 0;
		text-align: left;
		box-shadow: 0 1px 6px rgba(0,0,0,.2);

		.icon {
			display: inline-block;
			width: 20px; height: 20px;
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			position: relative;
			bottom: .1em;
			font-size: 22px;
			margin-right: $gutter;
		}
		> li {
			display: block;
			width: 100%;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			line-height: 1.2;
			text-overflow: ellipsis;
			padding: $gutter/2 $gutter*1.5;
			transition: .1s;

			label {
				margin: #{-$gutter / 2} #{-$gutter * 1.5};
				padding: #{$gutter / 2} #{$gutter * 1.5};
				display: block;
			}
			&:hover {
				background: $dark;
			}
			&:active {
				transition: none;
				background: $primary;
			}
		}
		.separator {
			padding: 0;
			height: 1px;
			margin: $gutter 0;
			background: $dark;
		}
	}
	&.active {
		button {
			background: $primary;
		}
		ul {
			display: block;
		}
	}
}


/*eq*/

.player-equalizer {
	display: none;
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	height: 100px;

	.table, .col, .row, *[class*="col-"], .container {
		height: 100%;
	}
	.col {
		position: relative;
		padding-top: 100px;
	}
	.text {
		position: absolute;
	}
}
.table {
	display: table;
	width: 100%;
	table-layout: fixed;

	.col {
		display: table-cell;
		vertical-align: top;
	}
}

/*player-playlist*/
.player-playlist {
	position: absolute;
	top: 170px;
	left: 0; right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-user-select: none;
	user-select: none;

	li {
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 16px;
		padding: 4px $gutter;
		cursor: default;

		&:hover {
			background: $dark;
		}
	}
	.title {
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: #eee;
		line-height: 20px;
		padding: 5px $gutter;
		cursor: pointer;
	}
}


/*progress*/
.progress {
	height: $gutter;
	border-radius: $gutter;
	background: $dark;
	overflow: hidden;

	.bar {
		height: 100%;
		width: 0;
		background: $primary;
	}
}

.paragraph {
	font-size: 14px;
	margin: $gutter 0;
	line-height: 20px;
}
small {
	display: block;
	font-size: 12px;
	line-height: 1.4;
	color: transparentize($text, .5);
}
/*popup*/
h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	margin: 0 0 $gutter;
}
.input {
	display: block;
	width: 100%; height: 40px;
	line-height: 20px;
	padding: 5px 0;
	font-family: $font;
	font-size: 14px;
	background: $bg;
	border: none;
	border-bottom: 2px solid $dark;
	box-shadow: none;
	transition: .2s;

	&:hover {
		border-color: darken($dark, 20);
	}
	&:focus {
		border-color: $primary;
	}
}
.btn {
	display: inline-block;
	border: none;
	height: 40px;
	line-height: 20px;
	padding: 5px 15px;
	background: $primary;
	transition: .2s;
	cursor: pointer;
	color: #fff;
	font-family: $font;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 2px;

	&:hover {
		background: darken($primary, 20);
	}

	&.btn-block {
		width: 100%;
		display: block;
		padding-left: 5px;
		padding-right: 5px;
	}
}
.popup {
	position: fixed;
	z-index: 10;
	padding: $gutter;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,.5);
	white-space: nowrap;
	transition: .3s;
	opacity: 0;
	pointer-events: none;

	&:after {
		content: '';
		display: inline-block;
		width: 0; height: 100%;
		vertical-align: middle;
	}
	.inner {
		background: $bg;
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		padding: $gutter * 2;
		display: inline-block;
		vertical-align: middle;
		border-radius: 2px;
		width: 100%;
		white-space: normal;
	}
	&.active {
		opacity: 1;
		pointer-events: auto;
	}
}